@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .scrollbar::-webkit-scrollbar {
        width: 10px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #ebebea;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #4e0174;
        border-radius: 100vh;
        /* border: 3px solid #f6f7ed; */
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #6D02A3;
    }
}
